# Ignore the root dist as buildcontrol will place it on it's own branch (same for gh-pages)

data/auth/config.json
data/auth/latestlog.json

data/required/required.css
data/required/required.js

compiledbin
